beautifulsoup4==4.12.2
black==23.9.1
celery==5.3.1
django==4.2.4
django_environ==0.10.0
django-stubs==4.2.4
django-stubs-ext==4.2.2
flower==2.0.1
flake8==6.1.0
isort==5.12.0
jupyter==1.0.0
mypy==1.5.1
pandas==1.5.3
pandas-stubs==2.0.3.230814
pre-commit==3.4.0
psycopg2==2.9.7
tqdm==4.66.1
types-beautifulsoup4==4.12.0.6
types-html5lib==1.1.11.15
types-pytz==2023.3.0.1
types-PyYAML==6.0.12.11
typing-extensions==4.7.1
undetected-chromedriver==3.5.3